<!DOCTYPE html>
<html>
    <head>
        <title>Express</title>
        <link rel='stylesheet' href='/stylesheets/github-markdown.css'/>
        <style>
            .markdown-body {
                min-width: 200px;
                max-width: 790px;
                margin: 0 auto;
                padding: 30px;
            }
        </style>
    </head>
    <body class="markdown-body">
    <%- content %>
    </body>
</html>